In [9]:
import pandas as pd
import numpy as np

food_log_1 = pd.read_csv("Food_logs/Food_Log_001.csv")
food_log_1.head()

,date,time,time_begin,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat
0,2020-02-13,18:00:00,2020-02-13 18:00:00,NaN,Berry Smoothie,20.00,fluid ounce,Strawberry Smoothie,456.0,85.0,1.7,83.0,16.0,3.3
1,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Chicken Leg,1.00,NaN,chicken leg,475.0,0.0,0.0,0.0,62.0,23.0
2,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Asparagus,4.00,NaN,Asparagus,13.0,2.5,1.2,0.8,1.4,0.1
3,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Natrel Lactose Free 2 Percent,8.00,fluid ounce,(Natrel) Lactose Free 2% Partly Skimmed Milk,120.0,9.0,NaN,8.0,12.0,NaN
4,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Standard Breakfast,0.75,cup,"(Kellogg's) Frosted Flakes, Cereal",110.0,26.0,NaN,10.0,1.0,NaN

In [10]:
food_log_sum = food_log_1.groupby('date')['protein'].sum()
food_log_sum

date
2020-02-13    79.4
2020-02-14    51.9
2020-02-15    76.1
2020-02-16    60.7
2020-02-17    25.4
2020-02-18    82.8
2020-02-19    93.0
2020-02-20    29.7
2020-02-21    92.2
2020-02-22    26.0
Name: protein, dtype: float64

In [19]:
import glob
import os

def agreggating_food_protein(path_to_folder):
    all_files = glob.glob(os.path.join(path_to_folder, "*.csv"))
    main_df = pd.DataFrame()

    for file in all_files:
        df = pd.read_csv(file)
        proccessed_df = df.groupby('date')['protein'].sum()
        main_df = pd.concat([main_df, proccessed_df], ignore_index=True)
    
    return main_df

In [20]:
food_logs = agreggating_food_protein('Food_Logs')
food_logs.head()

      0
0  79.4
1  51.9
2  76.1
3  60.7
4  25.4

In [50]:
import glob
import os
import pandas as pd

def aggregating_food_protein(path_to_folder, column_to_agregate):
    all_files = glob.glob(os.path.join(path_to_folder, "*.csv"))
    combined_df = pd.DataFrame()

    for file in all_files:
        df = pd.read_csv(file, encoding="utf-8")
        df.columns = df.columns.str.strip().str.lower()


        df['date'] = pd.to_datetime(df['date'], errors='coerce')
        df = df.dropna(subset=['date'])


        start_date = df['date'].min()
        end_date = start_date + pd.Timedelta(days=6) 


        df_filtered = df[(df['date'] >= start_date) & (df['date'] <= end_date)].copy()


        df_filtered['Day'] = (df_filtered['date'] - start_date).dt.days + 1

        daily_protein = df_filtered.groupby("Day", as_index=False)[column_to_agregate].sum()
        all_days = pd.DataFrame({'Day': range(1, 8)})
        daily_protein = all_days.merge(daily_protein, on="Day", how="left").fillna(0)

        person_name = os.path.basename(file).replace(".csv", "")
        daily_protein['Person'] = person_name 
        daily_protein = daily_protein[['Person', 'Day', column_to_agregate]]

        combined_df = pd.concat([combined_df, daily_protein], ignore_index=True)

    return combined_df


folder_path = "Food_Logs" 
result_df = aggregating_food_protein(folder_path, 'protein')
result_df

          Person  Day  protein
0   Food_Log_001    1     79.4
1   Food_Log_001    2     51.9
2   Food_Log_001    3     76.1
3   Food_Log_001    4     60.7
4   Food_Log_001    5     25.4
5   Food_Log_001    6     82.8
6   Food_Log_001    7     93.0
7   Food_Log_004    1    104.0
8   Food_Log_004    2    135.8
9   Food_Log_004    3     67.9
10  Food_Log_004    4    115.3
11  Food_Log_004    5     91.8
12  Food_Log_004    6     85.7
13  Food_Log_004    7     56.3
14  Food_Log_005    1     73.9
15  Food_Log_005    2     61.5
16  Food_Log_005    3     35.3
17  Food_Log_005    4     65.9
18  Food_Log_005    5     35.8
19  Food_Log_005    6     73.3
20  Food_Log_005    7    118.2
21  Food_Log_006    1    100.0
22  Food_Log_006    2     86.0
23  Food_Log_006    3    110.0
24  Food_Log_006    4     79.1
25  Food_Log_006    5    139.1
26  Food_Log_006    6     58.8
27  Food_Log_006    7    118.1
28  Food_Log_007    1     72.3
29  Food_Log_007    2     67.4
30  Food_Log_007    3     72.6
31  Food_Log_007    4     82.9
32  Food_Log_007    5     54.8
33  Food_Log_007    6     45.6
34  Food_Log_007    7     66.3
35  Food_Log_008    1     40.4
36  Food_Log_008    2     57.6
37  Food_Log_008    3    106.7
38  Food_Log_008    4     84.2
39  Food_Log_008    5     74.1
40  Food_Log_008    6     57.5
41  Food_Log_008    7     82.4
42  Food_Log_010    1    121.5
43  Food_Log_010    2    234.2
44  Food_Log_010    3    176.8
45  Food_Log_010    4    160.6
46  Food_Log_010    5    150.4
47  Food_Log_010    6    163.4
48  Food_Log_010    7    142.3
49  Food_Log_015    1     56.9
50  Food_Log_015    2     53.2
51  Food_Log_015    3    117.9
52  Food_Log_015    4     72.0
53  Food_Log_015    5    121.6
54  Food_Log_015    6    114.9
55  Food_Log_015    7     54.0